extends destiny_layout

block content
    include ../../src/svg_mixins.pug
    body(class="flex bg-slate-400" onload='repeatBG("bgHolder","loreEntry")')
        div(class="w-1/2 flex justify-center relative")
            div(id="bgHolder" class="absolute inset-0" style="z-index:0;")
                +TriangleWallpaper(40,0,30,1000,false,"#222222","#666666")
            div(id="lore_tab" class="relative" style="z-index:2; display:block;")
                div.pl-10.pr-10
                    div.bg-opacity-25.p-2(class="size-fit")
                        if "loreDesc" in gun_data["wp_data"] && gun_data["wp_data"]["loreDesc"]
                            h1.text-white.text-4xl.font-bold #{gun_data["loreDesc"]["displayProperties"]["name"]}
                            label.text-white.text-2xl #{gun_data["wp_data"]["loreDesc"]["subtitle"]}
                            p(id="loreEntry" class="text-amber-500 text-base" style="white-space: pre; text-wrap: wrap;") #{gun_data["wp_data"]["loreDesc"]["displayProperties"]["description"]}
            div(id="perk_tab" class="justify-start relative" style="z-index:2; display:none;")
                div.pl-10.pr-10
                    div.p-2(class="size-fit")
                        h1.text-white.text-4xl.font-bold #{gun_data["wp_data"]["name"]}
                    div(class="flex h-min")
                        each socket_key in Object.keys(socket_data)
                            - let socket_pool = socket_data[socket_key];
                            div.grid.grid-cols-1
                                each socket in socket_pool
                                    +socketSmall(socket)

        div(class="w-1/2 bg-gray-400 flex items-center justify-center relative")
            div(class="absolute inset-0" style="z-index:0;")
                div(class="grid grid-cols-2")
                    div(id="left_button" onclick="ShowLore()" class="bg-gray-800 min-w-fit w-4/5 justify-self-start")
                        label(class="text-gray-500 text-4xl").text-left.p-4 Lore Tab
                    div(id="right_button" onclick="ShowPerks()" class="bg-gray-800 min-w-fit w-4/5 justify-self-end")
                        label(class="text-gray-500 text-4xl").text-right.p-4 Perk Tab
                img(src="https://bungie.net"+ gun_data["wp_data"]["screenshot"])
                //- Grid Container
                div(class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6")
                    +loopSocketData(socket_data)
                    // each socket_key in Object.keys(socket_data)
                    //    - let socket_pool = socket_data[socket_key];
                    //    div.grid.grid-cols-1
                    //        each socket in socket_pool
                    //            +socketCard(socket_data)



mixin socketCard(socket)
    -   const sizeClasses = { height: "h-14", width: "w-14", };
    div(class="items-center rounded-lg bg-slate-400 shadow-lg overflow-hidden" style="width:fit-content;")
        img(class="flex-shrink-0 object-cover object-center", style=`height:${sizeClasses.height}px;width:${sizeClasses.width}px;`, src="https://bungie.net"+socket.icon, alt="socket's icon here")
        div(class="px-2 py-1")
            h3(class="text-sm font-semibold text-gray-800") #{socket["name"]}
mixin socketSmall(socket)
    -   const sizeClasses = { height: "h-10", width: "w-10", };
    div(class="items-center rounded-lg bg-slate-400 shadow-lg overflow-hidden" style="width:fit-content;height:fit-content")
        img(class="flex-shrink-0 object-cover object-center", style=`height:${sizeClasses.height}px;width:${sizeClasses.width}px;`, src="https://bungie.net"+socket.small_icon, alt="icon")

mixin loopSocketData(socket_data)
    - let socket_keys = Object.keys(socket_data);
    each key in socket_keys
        - let socket_pool = socket_data[key];
        each socket in socket_pool
            div.grid.grid-cols-1
                +socketCard(socket)